.container {
  padding-top: 80px;
  user-select: none;
  @include flex-container(row, center, center);
  @include side-padding;
}

.formWrapper {
  width: 100%;
  max-width: 400px;
}

.title {
  margin-bottom: $space-xl;
}

.form {
  @include flex-container(column, flex-start, stretch, $space-xl);
}

.formGroup {
  @include flex-container(column, flex-start, stretch, $space-xxs);

  label {
    color: $text-primary;
    font-weight: 500;
    font-size: $space-s;
  }
}

.submitButton {
  margin-top: $space-m;
  align-self: center;
  width: 100%;
}

.errorWrapper {
  position: relative;
}

.error {
  position: absolute;
  color: #c62828;
}

.links {
  margin: $space-xl 0;
  text-align: center;
  color: $text-secondary;
}

.link {
  color: $text-primary;
  cursor: pointer;
  text-decoration: underline;
  margin-left: $space-xxs;
  &:hover {
    color: $text-accent;
  }
}

@media (max-width: $screen-m) {
  .container {
    padding-top: 24px;
  }
  .form {
    gap: $space-m;
  }
}
