.recipeInfoContainer {
  @include flex-container(column, flex-start, flex-start, $space-xxxl);

  .description {
    padding: 36px 36px 29px;
    border-radius: $border-radius;
    background-color: rgba(181, 70, 15, 0.33);
    font-weight: normal;
    color: inherit;

    @include p-16;

    a {
      color: inherit;
      text-decoration: underline;
    }
  }
}

.recipeInfoHeader {
  @include flex-container(row, flex-start, center, $space-xxxl);
}

.recipeInfoImage {
  min-width: 448px;
  height: 298px;
  border-radius: $border-radius;
  object-fit: cover;
}

.recipeInfoContainer {
  width: 100%;
}

.recipeInfo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 100px;
  row-gap: 50px;
  justify-items: center;
  width: fit-content;
  align-self: center;
}

.infoBlock {
  @include flex-container(column, center, center, $space-xxs, fit-content);
}

.servingsControl {
  @include flex-container(row, center, center, $space-xs);
}

.servingsButton {
  width: 24px;
  height: 24px;
  padding: 0;
  min-width: unset;
}

@media (max-width: $screen-l) {
  .recipeInfoHeader {
    gap: $space-m;
  }

  .recipeInfoContainer {
    width: 100%;
  }

  .recipeInfo {
    width: 100%;
    column-gap: unset;
  }
}

@media (max-width: $screen-m) {
  .recipeInfoHeader {
    @include flex-container(column, center, center, $space-xxxl);
  }

  .recipeInfoImage {
    min-width: unset;
    max-width: 448px;
    width: inherit;
    height: unset;
  }

  .description {
    padding: $space-xs $space-m;
  }
}
