.directionsSection {
  @include flex-container(column, flex-start, flex-start, $space-xl);

  .directionsList {
    @include flex-container(column, flex-start, flex-start, $space-l);

    list-style: none;
    padding: 0;
    margin: 0;

    .directionItem {
      @include flex-container(column, flex-start, flex-start, $space-xxs);
    }
  }
}
