$space-max: 64px;
$space-xxxl: 48px;
$space-xxl: 32px;
$space-xl: 24px;
$space-l: 20px;
$space-m: 16px;
$space-s: 14px;
$space-xs: 12px;
$space-xxs: 8px;
$space-min: 4px;

$border-radius: 10px;

$loader-bg: #b5460f;

$button-primary-bg: #b5460f;
$button-primary-text: #ffffff;
$button-primary-bg-hover: rgba(181, 70, 15, 0.7);
$button-primary-text-hover: #ffffff;
$button-primary-bg-disabled: #d9d9d9;
$button-primary-text-disabled: #ffffff;
$button-primary-bg-active: #872d01;
$button-primary-text-active: #ffffff;

$text-primary: #000000;
$text-secondary: #afadb5;
$text-accent: #b5460f;

$input-text: #000000;
$input-bg: #ffffff;
$input-placeholder: #afadb5;
$input-border: #ffffff;
$input-bg-focus: #ffffff;
$input-border-focus: #b5460f;
$input-text-focus: #000000;
$input-bg-disabled: #ffffff;
$input-border-disabled: #ffffff;
$input-text-disabled: rgba(0, 0, 0, 0.2);

$checkbox-bg: #ffffff;
$checkbox-border: #ffffff;
$checkbox-bg-hover: #ffffff;
$checkbox-border-hover: #b5460f;
$checkbox-bg-disabled: rgba(255, 255, 255, 0.5);
$checkbox-border-disabled: rgba(255, 255, 255, 0);
$checkbox-check: #b5460f;
$checkbox-check-hover: #b5460f;
$checkbox-check-disabled: rgba(0, 0, 0, 0.2);

$card-image-bg: #d9d9d9;
$card-bg: #ffffff;

$dropdown-options-bg: #ffffff;

$shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
