.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 64px;
  background-color: #fff;

  @include flex-container(row, space-between);
  @include side-padding;
}

.leftSide {
  @include flex-container(row, flex-start, center, 80px);
}

.logo {
  @include flex-container(row, flex-start, center, $space-l, unset);

  cursor: pointer;
}

.list {
  @include flex-container(row, flex-start, flex-start, $space-m);

  list-style: none;
  padding: 0;
  margin: 0;
}

.rightSideIcons {
  @include flex-container(row, flex-start, center, $space-m, unset);
}

.cartIconWrapper {
  display: flex;
  cursor: pointer;
}

.profileMenuWrapper {
  position: relative;
  display: flex;
}

.profileMenu {
  position: absolute;
  padding: $space-xs 0;
  top: 48px;
  right: 0;
  min-width: 160px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.profileMenuItem {
  width: 100%;
  padding: $space-s $space-l;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: rgba(255, 192, 118, 0.2);
  }
}

.rightSideMenu {
  display: none;
}

.mobileMenuIcons {
  @include flex-container(row, flex-start, center, $space-m, unset);
}

@media (max-width: $screen-m) {
  .leftSide {
    .navigation {
      display: none;
    }
  }

  .rightSideMenu {
    @include flex-container(row, center, center, 0, fit-content);
    padding-left: $space-xl;
    position: relative;
    z-index: 101;
  }

  .crossIcon {
    z-index: 102;
  }

  .mobileMenu {
    position: fixed;
    background-color: #fff;
    top: 0;
    right: 0;
    width: 80%;
    max-width: 300px;
    height: 100%;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    box-shadow: $shadow;

    &.active {
      transform: translateX(0);
    }
  }

  .list {
    @include flex-container(column, flex-start, flex-start, $space-m);

    list-style: none;
    padding: $space-m $space-l;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  transition:
    opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
  &.active {
    opacity: 1;
    visibility: visible;
  }
}
