.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 64px;
  background-color: #fff;

  @include flex-container(row, space-between);
  @include side-padding;
}

.leftSide {
  @include flex-container(row, flex-start, center, 80px);
}

.logo {
  @include flex-container(row, flex-start, center, $space-l, unset);

  cursor: pointer;
}

.list {
  @include flex-container(row, flex-start, flex-start, $space-m);

  list-style: none;
  padding: 0;
  margin: 0;
}

.rightSideIcons {
  @include flex-container(row, flex-start, center, $space-m, unset);
}

.rightSideMenu {
  display: none;
}

@media (max-width: $screen-m) {
  .leftSide {
    .navigation {
      display: none;
    }
  }

  .rightSideIcons {
    display: none;
  }

  .rightSideMenu {
    @include flex-container(row, center, center, 0, fit-content);

    position: relative;
    z-index: 101;
  }

  .crossIcon {
    z-index: 102;
  }

  .mobileMenu {
    position: fixed;
    background-color: #fff;
    top: 0;
    right: 0;
    width: 80%;
    max-width: 300px;
    height: 100%;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    box-shadow: $shadow;

    &.active {
      transform: translateX(0);
    }
  }

  .list {
    @include flex-container(column, flex-start, flex-start, $space-m);

    list-style: none;
    padding: $space-m $space-l;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  transition:
    opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
  &.active {
    opacity: 1;
    visibility: visible;
  }
}
