.banner {
  @include flex-container(column, flex-start, center, $space-xl);

  .bannerImg {
    display: block;
    width: 100%;
    max-height: 572px;
    object-fit: cover;
  }

  .description {
    align-self: center;

    @include side-padding;
  }
}
